
.nw-image-background,
.nw-page-header {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: #333;
    color: #fff;

    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
    
    text-align: center;
}

.nw-page-header {
    min-height: 400px;
}

