/* reveal effects */

.reveal {
    opacity: 0;
    -webkit-transform: translate(0, 50px);
    -moz-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    transform: translate(0, 50px);
    -webkit-transition: opacity .6s .1s, transform .6s ease;
    transition: opacity .6s .1s, transform .6s ease;
}

.reveal.reveal-left {
    -webkit-transform: translate(-50px, 0);
    -moz-transform: translate(-50px, 0);
    -ms-transform: translate(-50px, 0);
    transform: translate(-50px, 0);
}

.reveal.reveal-right {
    -webkit-transform: translate(50px, 0);
    -moz-transform: translate(50px, 0);
    -ms-transform: translate(50px, 0);
    transform: translate(50px, 0);
}

.reveal.reveal-down {
    -webkit-transform: translate(0, 50px);
    -moz-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    transform: translate(0, 50px);
}

.reveal.reveal-up {
    -webkit-transform: translate(0, -50px);
    -moz-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    transform: translate(0, -50px);
}

.reveal.reveal-in-view {
    opacity: 1 !important;
    -webkit-transform: translate(0,0) !important;
    -moz-transform: translate(0,0) !important;
    -ms-transform: translate(0,0) !important;
    transform: translate(0,0) !important;
}
