/* Original Header */

#header {
    height: 60px;
    z-index: 1000;
    position: relative;
    background: transparent;
}
#header .site-branding {
    position: absolute;
    top: 14px;
    left: 20px;
    text-indent: -99999px;
    text-align: center;
}
#header .site-branding a {
    display: block;
    background: url(images/branding_sprite.png) no-repeat;
    background-position: -22px -129px; // white
    width: 122px;
    height: 30px;
}
#footer .footer-menu li a,
#header .main-navigation li a {
    display: block;
    color: #ffffff;
    transition: all 0.2s;
}

#header .main-navigation li:hover a {
    color: #fff;
    opacity: .4;
}

#footer .footer-menu li:hover a,
.inverted-header #header .main-navigation li:hover a {
    color: #a4a5a6;
    opacity: .4;
}
#header .main-navigation li.current-menu-item a,
#header .main-navigation li.current-page-item a {
    color: #a4a5a6;
    opacity: .8;
}

.inverted-header #header .site-branding a {
    background-position: -22px -225px; // black
}
.inverted-header #header .main-navigation li a {
    color: #323436;
}
.inverted-header #header .main-navigation li.current-menu-item a,
.inverted-header #header .main-navigation li.current-page-item a {
    color: #777879;
}

.transparent-header #header {
    background: none;
    position: absolute;
    width: 100%;
}

/* Mobile Header */

#hamburger
{
	box-sizing: border-box;
	display: block;
	width: 70px;
    width: 100%;
	height: 45px;
	position: fixed;
    position: absolute;
	top: 10px;
	right: 0;
	z-index: 4;
    outline: 0;

    &:before,
    &:after,
    & span
    {
        background: #fff;
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        position: absolute;
        right: 20px;
    }

    .inverted-header &:before,
    .inverted-header &:after,
    .inverted-header & span {
        color: #111;
    }
    
    &:before
    {
        top: 10px;
    }
    & span
    {
        top: 20px;
    }
    &:after
    {
        top: 30px;
    }
    
    /* animation */
    
    &:before,
    &:after,
    & span
    {
        -webkit-transition: none 0.5s ease 0.5s;
        transition: none 0.5s ease 0.5s;

        -webkit-transition-property: transform, top, bottom, right, opacity;
        transition-property: transform, top, bottom, right, opacity;
    }
    html.opening &:before,
    html.opening &:after
    {
        top: 20px;	
    }
    html.opening & span
    {
        right: -50px;
        opacity: 0;
    }
    html.opening &:before
    {
        transform: rotate( 45deg );
    }
    html.opening &:after
    {
        transform: rotate( -45deg );
    }
    
}

// page behavior

//#page {
//    box-shadow: none;
//    width: 100%;
//    min-width: 320px;
//    padding: 100px 0 160px 0;
//    overflow: hidden;
//    position: relative;
//    z-index: 1;
//}

html.opening body {
    overflow: hidden;
}

.slideout {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; 

    html.opening & {
        -webkit-transform: translate(-80%, 0);
        -moz-transform: translate(-80%, 0);
        -ms-transform: translate(-80%, 0);
        -o-transform: translate(-80%, 0);
        transform: translate(-80%, 0);
    }
}

@media (min-width: 550px) {
    html.opening .slideout {
        -webkit-transform: translate(-440px, 0);
        -moz-transform: translate(-440px, 0);
        -ms-transform: translate(-440px, 0);
        -o-transform: translate(-440px, 0);
        transform: translate(-440px, 0);
    }
}



#blocker {
    background: rgba(40, 40, 40, 0.8);
    opacity: 0;
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    transition: opacity 0.4s ease 0.4s;
        
    html.blocking & {         
        height: 100%;    
    }
    html.opening & {
        opacity: 0.3;
        transition: opacity 0.4s ease 0.4s;
    }
}

#blocker,
#footer,
#content {
    -webkit-transition: -webkit-transform 0.3s;
    -ms-transition: -ms-transform 0.3s;
    transition: transform 0.3s;
}



/* off-canvas */

#off-canvas-menu {
    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    -ms-transition: -ms-transform 0.4s ease;
    -o-transition: -o-transform 0.4s ease;
    transition: transform 0.4s ease;

    width: 440px;
    padding: 1em 2em;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;    
    text-align: right;
    
    -webkit-transform: translate(40px, 0);
    -moz-transform: translate(40px, 0);
    -ms-transform: translate(40px, 0);
    -o-transform: translate(40px, 0);
    transform: translate(40px, 0);
    
    html.opening & {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);        
    }
    
    
}


/* media queries */

@media screen and (min-width: 1025px) {
    #header .site-branding {
        left: 40px;
        top: 24px;
        margin-left: 0;
        z-index: 2;
    }
}
@media screen and (min-width: 1025px) {
    #header .main-navigation ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        position: relative;
        display: inline-block;
    }
}
@media screen and (min-width: 1025px) {
    #header {
        height: 80px;
        display: block;
    }
    
    #hamburger { 
        display: none; 
    }
}

@media screen and (max-width: 1024px) and (min-width: 641px) {
    #header {
        //height: 60px;
    }
}

@media screen and (max-width: 1024px) {
    #header {
        display: none;
    }
}

