.footer-menu,
.main-navigation {
	width: 100%;
    
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    position: relative;
    display: inline-block;    

    &.align-right {
        text-align: right;
        padding-right: 24px;
    }    
    
	ul {
        margin: 0;
        padding: 0;
        text-align: center;
        position: relative;
        display: inline-block;        
        
		display: none;
		list-style: none;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
        
        display: inline-block;
        margin: 0 21px;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 78px;
        font-size: 13px;
        font-weight: 600;        
        
        
		//float: left;
		//position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.footer-menu.toggled ul,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
    .footer-menu ul,
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
